{% extends 'layout_unbranded.html' %}

{% block pageTitle %}
    National flooding overview
{% endblock %}

{% block headerNav %}

<nav>
    <ul id="navigation" class="govuk-header__navigation app-xws-menu-flexbox" aria-label="Navigation menu">
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
                Sign out
            </a>
        </li>
    </ul>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">National flooding overview</h1>

        </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-8">

        <div class="govuk-grid-column-one-third">

            <div class="app-statistic-header-row govuk-!-margin-bottom-2">

                <div class="app-statistic-header-icon">
                    <img src="/public/images/flood-warning-icons/alert.gif" alt="Flood alert icon">
                </div>
                
                <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
                    117
                </span>

            </div>

            <span class="app-statistic-content govuk-heading-m">
                Flood alerts in-force
            </span>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-statistic-header-row govuk-!-margin-bottom-2">

                <div class="app-statistic-header-icon">
                    <img src="/public/images/flood-warning-icons/warning.gif" alt="Flood warning icon">
                </div>
                
                <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
                    33
                </span>

            </div>

            <span class="app-statistic-content govuk-heading-m">
                Flood warnings in-force
            </span>

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="app-statistic-header-row govuk-!-margin-bottom-2">

                <div class="app-statistic-header-icon">
                    <img src="/public/images/flood-warning-icons/severe-warning.gif" alt="Severe flood warning icon">
                </div>
                
                <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
                    6
                </span>

            </div>

            <span class="app-statistic-content govuk-heading-m">
                Severe flood warnings in-force
            </span>

        </div>

</div>

<div class='govuk-grid-row'>
    <div class="govuk-grid-column-full">
        
      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Areas</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Area</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Alerts in force</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Warnings in force</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Severe warnings in force</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td id="region-header-1" class="govuk-table__cell" data-sort-value="Cumbria and Lancashire"
              >Cumbria and Lancashire</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9"
              >9</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-1" class="govuk-table__cell app-cell-indented" data-sort-value="Cumbria and Lancashire"
              ><a href="#">Cumbria</a></td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="9"
              >5</td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >2</td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-1" class="govuk-table__cell app-cell-indented" data-sort-value="Cumbria and Lancashire"
              ><a href="#">Lancashire</a></td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="9"
              >4</td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >1</td>
            <td headers="region-header-1" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td id="region-header-2" class="govuk-table__cell" data-sort-value="Devon and Cornwall"
              >Devon and Cornwall</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11"
              >11</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2"
              >2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-2" class="govuk-table__cell app-cell-indented" data-sort-value="Devon and Cornwall"
              ><a href="#">Cornwall and Isles of Scilly</a></td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="11"
              >7</td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="2"
              >1</td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-2" class="govuk-table__cell app-cell-indented" data-sort-value="Devon and Cornwall"
              ><a href="#">Devon</a></td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="11"
              >4</td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="2"
              >1</td>
            <td headers="region-header-2" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td id="region-header-3" class="govuk-table__cell" data-sort-value="East Anglia"
              >East Anglia</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10"
              >10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1"
              >1</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-3" class="govuk-table__cell app-cell-indented" data-sort-value="Cambridgeshire and Bedfordshire"
              ><a href="#">Cambridgeshire and Bedfordshire</a></td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="10"
              >4</td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >1</td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="1"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-3" class="govuk-table__cell app-cell-indented" data-sort-value="Cambridgeshire and Bedfordshire"
              ><a href="#">Essex, Norfolk and Suffolk</a></td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="10"
              >6</td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >2</td>
            <td headers="region-header-3" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="1"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="East Midlands"
              ><a href="region-overview?selected-region=East Midlands">East Midlands</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12"
              >12</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Gtr Mancs Mersey and Ches"
              ><a href="region-overview?selected-region=Gtr Mancs Mersey and Ches">Gtr Mancs Mersey and Ches</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9"
              >9</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1"
              >1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Herts and North London"
              ><a href="region-overview?selected-region=Herts and North London">Herts and North London</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2"
              >2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1"
              >1</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Kent S London and E Sussex"
              ><a href="region-overview?selected-region=Kent S London and E Sussex">Kent S London and E Sussex</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4"
              >4</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1"
              >1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Lincs and Northants"
              ><a href="region-overview?selected-region=Lincs and Northants">Lincs and Northants</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4"
              >4</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2"
              >2</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="North East"
              ><a href="region-overview?selected-region=North East">North East</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="6"
              >6</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2"
              >2</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Solent and South Downs"
              ><a href="region-overview?selected-region=Solent and South Downs">Solent and South Downs</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="13"
              >13</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="Thames"
              ><a href="region-overview?selected-region=Thames">Thames</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12"
              >12</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td id="region-header-4" class="govuk-table__cell" data-sort-value="Wessex"
              >Wessex</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5"
              >5</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-4" class="govuk-table__cell app-cell-indented" data-sort-value="Wessex"
              ><a href="#">North</a></td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="5"
              >1</td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >0</td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-4" class="govuk-table__cell app-cell-indented" data-sort-value="Wessex"
              ><a href="#">South</a></td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="5"
              >4</td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >3</td>
            <td headers="region-header-4" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td id="region-header-5" class="govuk-table__cell" data-sort-value="West Midlands"
              >West Midlands</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8"
              >8</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1"
              >1</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-5" class="govuk-table__cell app-cell-indented" data-sort-value="West Midlands"
              ><a href="#">East</a></td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="8"
              >5</td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="1"
              >1</td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-5" class="govuk-table__cell app-cell-indented" data-sort-value="West Midlands"
              ><a href="#">West</a></td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="8"
              >3</td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="1"
              >0</td>
            <td headers="region-header-5" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="0"
              >0</td>
          </tr>
          <tr class="govuk-table__row">
            <td id="region-header-7" class="govuk-table__cell" data-sort-value="Yorkshire"
              >Yorkshire</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11"
              >11</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3"
              >3</td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2"
              >2</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-7" class="govuk-table__cell app-cell-indented" data-sort-value="Yorkshire"
              ><a href="#">North and East</a></td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="11"
              >5</td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >2</td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="2"
              >2</td>
          </tr>
          <tr class="govuk-table__row">
            <td headers="region-header-7" class="govuk-table__cell app-cell-indented" data-sort-value="Yorkshire"
              ><a href="#">South and West</a></td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="11"
              >6</td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="3"
              >1</td>
            <td headers="region-header-7" class="govuk-table__cell govuk-table__cell--numeric app-cell-secondary" data-sort-value="2"
              >0</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>


{% endblock %}