{% macro regionBanner(props) %}
    {% set region = props.region %}

    <div class="app-context-banner">

        <div class="govuk-width-container app-context-banner">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <p style="margin-bottom: 0;">
                        <b><a href="{{ props.nationalURL }}">England</a> ›</b>
                        {% if props.regionUrl %}
                            <a href="{{ props.regionUrl }}">
                                {{ region.name }}
                            </a>
                        {% else %}
                            {{ region.name }}
                        {% endif %}
                        {% if props.prefix %}
                        › {{ props.prefix }}
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>

    </div>

{% endmacro %}