{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    {{ area.label }} - {{ area.type }} area
{% endblock %}

{% block contextBanner %}

    {{ targetAreaBanner({
        area: area
    }) }}

{% endblock %}

{% block beforeContent %}

    <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    rel="stylesheet"
    />

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">{{ area.label }} - {{ area.type }} area</h1>

        </div>

</div>

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

                {% set detailsContentHTML %}
                    
                    <figure>
                        <div id="map"></div>
                        <figcaption>
                            {{ 'Map of ' + area.label + ' ' + area.type + ' area' }}
                        </figcaption>
                    </figure>

                {% endset %}
                
                {{ govukDetails({
                    summaryText: 'View a map of ' + area.label + ' ' + area.type + ' area',
                    html: detailsContentHTML
                }) }}

                {% if area.type == 'warning' %}

                    <div class="app-notification-list">

                        <p>No flood warnings in force or scheduled.</p>

                        <ul class="govuk-list">
                            {{ govukButton ({
                                text: 'Issue a new flood warning',
                                href: 'severity'
                            }) }}
                            <li><a href="#">3 draft flood warnings saved to this target area</a></li>
                            <li><a href="#">View past flood warnings</a></li>
                        </ul>
                    
                    </div>

                {% endif %}

                {% if area.type == 'alert' %}

                    <div class="app-notification-list">

                        <p>No flood alerts in force or scheduled.</p>

                        <ul class="govuk-list">
                            {{ govukButton ({
                                text: 'Issue a new flood alert',
                                href: 'spoken-message'
                            }) }}
                            <li><a href="#">3 draft flood alerts saved to this target area</a></li>
                            <li><a href="#">View past flood alerts</a></li>
                        </ul>
                    
                    </div>

                {% endif %}
            
        </div>

        <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-m">Target area information</h2>

                {{ govukSummaryList ({
                    classes: 'app-summary-list-vertical',
                    rows: [
                        {
                            key: {
                                text: 'Code'
                            },
                            value: {
                                text: area.notation
                            }
                        },
                        {
                            key: {
                                text: 'Name'
                            },
                            value: {
                                text: area.label
                            }
                        },
                        {
                            key: {
                                text: 'Type'
                            },
                            value: {
                                text: 'Flood ' + area.type + ' area'
                            }
                        },
                        {
                            key: {
                                text: 'Description'
                            },
                            value: {
                                text: area.description
                            }
                        }
                    }
                }) }}

        </div>

</div>

<div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <hr class="govuk-section-break govuk-section-break--xl">

        </div>

</div>

{% endblock %}

{% block pageScripts %}

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    
    <script>
 
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRkb3R0byIsImEiOiJjaW54cDQ5ejUwMHFsdnhtMjh1M2NwYWIwIn0.hUo15CVfYcWgHWkRIQomiQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/daviddotto/cknao6u0w1y4g17pmjwq8llcv',
        center: {lon: {{ area.long }}, lat: {{ area.lat }}},
        zoom: {{ '12' if (area.type == 'warning') else '9' }},
        attributionControl: false
    });
    map.on('load', function () {
        map.resize();
        map.addControl(new mapboxgl.NavigationControl({
            showCompass: false
        }), 'top-left');
        map.addControl(new mapboxgl.FullscreenControl(), 'top-right'); 
        map.addSource('{{ area.notation }}', {
            type: 'geojson',
            data: '{{ area.polygon | secure }}'
        });
        map.addLayer({
            'id': '{{ area.notation }}-warning-fill',
            'type': 'fill',
            'source': '{{ area.notation }}',
            'layout': {},
            'paint': {
                'fill-color': '{{ '#d4351c' if (area.type == 'warning') else '#f47738' }}', 
                'fill-opacity': 0.2
            }
        });
        map.addLayer({
            'id': '{{ area.notation }}-warning-outline',
            'type': 'line',
            'source': '{{ area.notation }}',
            'layout': {},
            'paint': {
                'line-color': '{{ '#d4351c' if (area.type == 'warning') else '#f47738' }}',
                'line-width': 2
            }
        });
    });

    var details = document.querySelector('details')

    details.addEventListener("toggle", event => {
        map.resize()
        map.flyTo({
            center: {lon: {{ area.long }}, lat: {{ area.lat }}}
        })
    });

  </script>
    
{% endblock %}