{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    Check the {{ area.type }}
{% endblock %}

{% block contextBanner %}

    {{ targetAreaBanner({
        area: area
    }) }}

{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block content %}

{% set emailPreviewHTML %}

    <p>
        {{ data['message-content'] }}
    </p>

{% endset %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="reminder">

                <h1 class="govuk-heading-xl">Check the {{ area.type }}</h1>

                {% set spokenMessageHTML %}
                    <p><b>Preview</b></p>
                    <audio id="preview-player" controls>
                        <source type="audio/mpeg">
                    </audio>
                    <p>(Date and time of issuing not final)</p>
                {% endset %}

                {% set urgentSpokenMessageHTML %}
                    <p><b>Preview</b></p>
                    <audio id="urgent-preview-player" controls>
                        <source type="audio/mpeg">
                    </audio>
                {% endset %}

                {{ govukSummaryList ({
                    classes: 'app-summary-list-vertical',
                    rows: [
                        {
                            key: {
                                text: 'Warning severity'
                            },
                            value: {
                                text: data['severity']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'severity?fromCheck=true',
                                        visuallyHiddenText: 'the severity of this message'
                                    }
                                ]
                            }
                        } if area.type == 'warning',
                        {
                            key: {
                                text: 'Message content'
                            },
                            value: {
                                html: emailPreviewHTML
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change message',
                                        href: 'spoken-message?fromCheck=true',
                                        visuallyHiddenText: 'message content'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Floodline (IVR) audio'
                            },
                            value: {
                                html: spokenMessageHTML
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change message',
                                        href: 'spoken-message?fromCheck=true',
                                        visuallyHiddenText: 'spoken message content'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Add urgent message to telephone call?'
                            },
                            value: {
                                text: data['add-urgent-message']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'add-urgent-message?fromCheck=true',
                                        visuallyHiddenText: 'whether to add an urgent telephone message'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Telephone call audio'
                            },
                            value: {
                                html: urgentSpokenMessageHTML
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change urgent telephone message',
                                        href: 'urgent-spoken-message?fromCheck=true',
                                        visuallyHiddenText: 'urgent spoken message content'
                                    }
                                ]
                            }
                        } if data['add-urgent-message'] == 'Yes'
                    }
                }) }}

                {% set scheduleHTML %}
                    
                    {{ govukDateInput ({
                        id: 'schedule-date',
                        namePrefix: 'schedule-date',
                        fieldset: {
                            legend: {
                                text: 'Send date',
                                isPageHeading: false
                            }
                        },
                        hint: {
                            text: 'For example, 14 8 2021'
                        },
                        items: [
                            {
                                classes: 'govuk-input--width-2',
                                name: 'day',
                                value: 13
                            },
                            {
                                classes: 'govuk-input--width-2',
                                name: 'month',
                                value: 5
                            },
                            {
                                classes: 'govuk-input--width-4',
                                name: 'year',
                                value: 2021
                            }
                        ]
                    }) }}

                    {{ govukInput ({
                        id: 'schedule-time',
                        name: 'schedule-time',
                        value: data['schedule-time'] if data['schedule-time'] else '',
                        classes: 'govuk-input--width-10',
                        hint: {
                            text: 'Enter time in 24 hour format. For example, 15:00.'
                        },
                        label: {
                            text: 'Send time',
                            classes: 'govuk-input--width-10'
                        }
                    }) }}
                    
                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'send-option',
                    name: 'send-option',
                    fieldset: {
                        legend: {
                            text: 'What would you like to do with this ' + area.type + '?',
                            isPageHeading: false,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Send ' + area.type + ' now',
                            value: 'Send',
                            checked: true if data['send-option'] == 'Send'
                        },
                        {
                            text: 'Schedule ' + area.type + ' to send later',
                            value: 'Schedule',
                            checked: true if data['send-option'] == 'Schedule',
                            conditional: {
                                html: scheduleHTML
                            }
                        },
                        {
                            text: 'Save as a draft to the target area',
                            value: 'Draft',
                            checked: true if data['send-option'] == 'Save as draft'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
    
    <script>
    
        $.post( '/text-to-speech/generate-ivr-message', function( url ) {
            $( "#preview-player" ).attr( 'src', url );
        })

        $.post( '/text-to-speech/generate-urgent-message', function( url ) {
            $( "#urgent-preview-player" ).attr( 'src', url );
        })
    
    </script>
    
{% endblock %}