{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    Flooding causes
{% endblock %}
{% block contextBanner %}

    {{ targetAreaBanner({
        area: area,
        regionURL: '../region-overview'
    }) }}

{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-!-margin-bottom-6">
                <span class="govuk-caption-l">Prepare {{ area.type }} message</span>
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6">What factors are causing flooding?</h1>
            </div>

            {% if data.fromCheck %}
            <form action="../../check">
            {% else %}
            <form action="response">
            {% endif %}

                {{ govukCharacterCount ({
                    name: 'message-part--factors',
                    id: 'message-part--factors',
                    maxlength: '200',
                    label: {
                        text: 'Flooding factors'
                    },
                    hint: {
                        text: 'For example, describe the weather or circumstances that has lead to the flooding.'
                    },
                    rows: 4
                }) }}

                <div class="app-message-part-preview-container">

                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Preview of message part</h4>

                    <div class="govuk-inset-text govuk-!-margin-top-0">
                        <div style="display: flex;">
                            <div class="govuk-!-margin-right-2">
                                <p class="govuk-!-margin-bottom-0">
                                    <b>Flooding reason: </b>
                                </p>
                            </div>
                            <div>
                                <p class="govuk-!-margin-bottom-0">
                                    <span class="app-message-part-preview app-message-part-preview-placeholder">Select an option...</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>

                <input class="app-message-section" type="hidden" name="message-section--factors">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}

{% block pageScripts %}

    <script>

        var certaintyString = '{{ data['message-part--certainty'] }}';

        function numberToMonthString(input) {
            var int = parseInt(input.replace(/[^0-9]/g,''))
            if (int) {
                const months = [
                    'January',
                    'February',
                    'March',
                    'April',
                    'May',
                    'June',
                    'July',
                    'August',
                    'September',
                    'October',
                    'November',
                    'December',
                ]
                return months[int-1]
            } else {
                return '<enter a valid month>'
            }
        }

        function updatePreview() {
            var messagePreview = $('#message-part--factors').val()
            // Update preview span
            if (messagePreview) {
                $('.app-message-part-preview-container').show()
                $('.app-message-part-preview').removeClass('app-message-part-preview-placeholder')
                $('.app-message-part-preview').html(messagePreview)
                $('.app-message-section').val(messagePreview)
            } else {
                $('.app-message-part-preview-container').hide()
                $('.app-message-part-preview').addClass('app-message-part-preview-placeholder')
                $('.app-message-part-preview').html('Enter details to see preview...')
                $('.app-message-section').val('')
            }
        }

        // Update preview on page load
        updatePreview()

        // Update preview on change of input
        $('input').change(function() {
            updatePreview()
        })

        $('input, textarea').on('input', function() {
            updatePreview()
        })
        
    </script>

{% endblock %}