{% extends 'layout.html' %}

{% block pageTitle %}
    Add a new saved message
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add a new saved message</h1>    
    </div>
</div>

<div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

            <form method="post">

                {% set detailsContentHTML %}
                    {{ govukSummaryList ({
                        rows: [
                            {
                                key: {
                                    text: '((today))'
                                },
                                value: {
                                    text: 'The current date'
                                }
                            },
                            {
                                key: {
                                    text: '((area description))'
                                },
                                value: {
                                    text: 'Place names and description of current target area'
                                }
                            }
                        ]
                    }) }}
                {% endset %}

                {% set hintHTML %}
                    
                    <p class="govuk-hint">
                        Use template parts to help keep this message up-to-date.
                    </p>

                    {{ govukDetails({
                        summaryText: 'View a list of available template parts',
                        html: detailsContentHTML
                    }) }}
                    
                {% endset %}
            
                {{ govukCharacterCount ({
                    id: 'template-content',
                    name: 'template-content',
                    maxlength: '1500',
                    rows: 18,
                    value: data['template-content'] if data['template-content'] else '',
                    label: {
                        text: 'Message content'
                    },
                    hint: {
                        html: hintHTML
                    }
                }) }} 

                {{ govukButton ({
                    html: 'Save message'
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-one-half">
            
            <h2 class="govuk-heading-m">
                Message preview
            </h2>

            <p class="app-saved-message-preview"></p>

        </div>

</div>

{% endblock %}