{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    {{ area.type | sentenceCase }} message
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ 'spoken-message' | redirect | safe }}

            {% if data.fromCheck %}
            <form action="check">
            {% else %}
            <form action="spoken-message">
            {% endif %}

                <h1 class="govuk-heading-xl">{{ area.type | sentenceCase }} message</h1>

                <p>This message will included in the email and be made available on flood information websites.</p>

                {{ govukCharacterCount ({
                    id: 'message-content',
                    name: 'message-content',
                    maxlength: '1500',
                    rows: 15,
                    value: data['message-content'],
                    label: {
                        text: 'Message content',
                        classes: 'govuk-visually-hidden'
                    }
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}