{% extends 'layout_unbranded.html' %}

{% set region = data.regions[data['selected-region']] %}
{% set taType = data['ta-type'] %}
{% set counties = region.warningAreas | areasGroupedByCounty if taType == 'warning' else region.alertAreas | areasGroupedByCounty %}

{% block pageTitle %}
    Enter a flood target area code
{% endblock %}

{% block contextBanner %}

    {{ regionBanner({
        region: region,
        nationalURL: 'national-overview',
        prefix: 'Issue a new ' + taType,
        regionUrl: 'region-overview'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="/area/search">

                <h1 class="govuk-heading-xl">Enter a target area code</h1>

                {{ govukInput ({
                    id: 'area-code',
                    name: 'area-code',
                    value: data['area-code'] if data['area-code'] else '',
                    classes: 'govuk-input--width-10',
                    label: {
                        text: 'Area code',
                        classes: 'govuk-input--width-10 govuk-visually-hidden'
                    }
                }) }}

                <input type="hidden" name="next-page" value="#root#/area-details">
                <input type="hidden" name="error-page" value="#root#/area-code">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <p>
                    <a href="target-area-list">
                        Find a flood {{ taType }} target area
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}