{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    Confirmation
{% endblock %}

{% block contextBanner %}

    {{ targetAreaBanner({
        area: area,
        regionURL: 'region-overview'
    }) }}

{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">


                {% if data['send-option'] == 'Send' %}
                    {{ govukPanel({
                        titleText: area.type | sentenceCase + ' sent'
                    }) }}

                    <p>
                        Subscribers in {{ area.label }} are receiving this {{ area.type }}.
                    </p>
                {% else %}
                    {{ govukPanel({
                        titleText: area.type | sentenceCase + ' scheduled'
                    }) }}

                    <p>
                        Subscribers in {{ area.label }} will receive this {{ area.type }} at XX:XX on XXX XXXXXX 2021.
                    </p>
                {% endif %}
                
                <p>
                    <a href="#">View published {{ area.type }} on GOV.UK</a>
                </p>

                <p>
                    <a href="#">View published {{ area.type }} on FWIS</a>
                </p>

                <p>
                    You can close this window now.
                </p>

                {{ govukButton ({
                    html: 'Return to home page',
                    href: 'region-overview'
                }) }}

            </form>

        </div>

</div>

{% endblock %}