{% extends "layout.html" %}

{% from "./components/target-area-banner.njk" import targetAreaBanner %}
{% from "./components/region-banner.njk" import regionBanner %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}

{% if not data.regions %}
  
  <script>
    location.reload();
  </script>
  
{% endif %}

<header class="govuk-header " role="banner" data-module="govuk-header" style="border-bottom: none;"">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: none; margin-bottom: 0;">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--service-name">
        <span class="govuk-header__logotype">
          <span>
            {{ serviceName }}
          </span>
        </span>
        
      </a>
    </div>
    
    <div class="govuk-header__content">
    
    {# <a href="/" class="govuk-header__link govuk-header__link--service-name">
      National overview
    </a> #}

    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation app-xws-menu-flexbox" aria-label="Navigation menu">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/">
              National overview
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Manage subscribers
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Account settings
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    
    
    </div>
    
  </div>
</header>

{% block contextBanner %}{% endblock %}

{% endblock %}
{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
{% endblock %}
