{% extends 'layout.html' %}

{% set area = data.area %}

{% block pageTitle %}
    Add an urgent message to telephone call?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="urgent-spoken-message">

                {{ govukRadios ({
                    idPrefix: 'add-urgent-message',
                    name: 'add-urgent-message',
                    fieldset: {
                        legend: {
                            text: 'Add an urgent message to telephone calls?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--xl'
                        }
                    },
                    hint: {
                        html: '<p>A short message can be added to the standard message played to users who have asked to get flood ' + area.type + 's by telephone.</p>'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['add-urgent-message'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['add-urgent-message'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}