{% extends 'layout_unbranded.html' %}

{% set area = data.area %}

{% block pageTitle %}
    Confirmation
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">


                {% if data['send-option'] == 'Send' %}
                    {{ govukPanel({
                        titleText: area.type | sentenceCase + ' sent'
                    }) }}

                    <p>
                        The {{ area.type }} is now being sent to all subscribers in {{ area.label }}.
                    </p>
                {% else %}
                    {{ govukPanel({
                        titleText: area.type | sentenceCase + ' scheduled'
                    }) }}

                    <p>
                        The {{ area.type }} has now been scheduled to be sent to all subscribers in {{ area.label }} at XX:XX on XXX XXXXXX 2021.
                    </p>
                {% endif %}

                <p>
                    You can close this window now.
                </p>

                {{ govukButton ({
                    html: 'Return to home page',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}