{% extends 'layout.html' %}

{% block pageTitle %}
    Spoken message content
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Spoken message content</h1>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post">

            {{ govukCharacterCount ({
                id: 'spoken-message',
                name: 'spoken-message',
                maxlength: '1500',
                rows: 15,
                value: data['spoken-message'] if data['spoken-message'] else data['message-content'] ,
                label: {
                    text: 'Spoken message content',
                    classes: 'govuk-visually-hidden'
                }
            }) }}

            {% set pronunciationsHTML %}

            <h2 class="govuk-heading-m">
                Pronunciations
            </h2>

            <div id="pronunciation-list-container"></div>

            <div class="adjustment-group">

                <h3 class="govuk-heading-s">
                    Add a new pronunciation
                </h3>
            
                {{ govukInput ({
                    id: 'adjustment-phrase',
                    name: 'adjustment-phrase',
                    label: {
                        text: 'Word or phrase'
                    }
                }) }}

                {{ govukInput ({
                    id: 'adjustment-pronunciation',
                    name: 'adjustment-pronunciation',
                    label: {
                        text: 'Pronunciation'
                    }
                }) }}

                {{ govukRadios ({
                    idPrefix: 'adjustment-save',
                    name: 'adjustment-save',
                    classes: 'govuk-radios--small govuk-radios--inline',
                    fieldset: {
                        legend: {
                            text: 'Save pronounciation for this target area?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['adjustment-save'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['adjustment-save'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Add pronounciation',
                    classes: 'govuk-button--secondary',
                    attributes: {
                        id: 'add-pronunciation-button'
                    }
                }) }}

            {% endset %}
            
            {{ govukDetails({
                summaryText: 'Change the pronunciation of words and phrases',
                html: pronunciationsHTML
            }) }}

            {{ govukButton ({
                html: 'Continue'
            }) }}

        </form>

    </div>

    <div class="govuk-grid-column-one-third sticky-column">

        {{ govukButton ({
            html: 'Refresh preview',
            classes: 'govuk-button--secondary',
            attributes: {
                id: 'refresh-preview-button'
            },
            type: 'button'
        }) }}

        <div class="audio-container govuk-!-margin-bottom-4" style="display:block;">

            <h2 id="preview-header" class="govuk-heading-s">Preview</h2>

            <audio id="preview-player" controls>
                <source src="/public/audio/preview_message.mp3" type="audio/mpeg">
            </audio>
        
        </div>
        
    </div>

</div>

{% endblock %}

{% block pageScripts %}
    
    <script>

        var currentPreviewTextTrimmed = $('textarea#spoken-message').val().trim()
        var previewText = currentPreviewTextTrimmed
        var activePronunciations = []

        function adaptRefreshButton() {
            const newEntryTrimmed = $('textarea#spoken-message').val().trim()
            if (newEntryTrimmed == currentPreviewTextTrimmed) {
                // Preview is up-to-date
                $('#refresh-preview-button').prop('disabled', true)
                $('#refresh-preview-button').text('Preview is ready')
                $('#preview-header').text('Preview')
                $('#refresh-preview-button').hide()
                $('.audio-container').show()
            } else {
                // Preview is not up-to-date
                $('#refresh-preview-button').prop('disabled', false)
                $('#refresh-preview-button').text('Create preview')
                $('#preview-header').text('Preview (needs refreshing)')
                $('#refresh-preview-button').show()
                $('.audio-container').hide()
            }
        }

        function updatePronunciations() {
            const newEntryTrimmed = $('textarea#spoken-message').val().trim()
            $.post( '/text-to-speech/get-pronunciations', { text : newEntryTrimmed }, function( item ) {
                previewText = item.text
                activePronunciations = item.usedPronunciations
                refreshPronunciationList()
            })
        }

        function refreshPronunciationList() {

            var outputHTMLString = ''

            if (activePronunciations.length) {

                outputHTMLString += '<dl class="govuk-summary-list">'

                for (let item of activePronunciations) {
                    outputHTMLString += '<div class="govuk-summary-list__row">'
                        outputHTMLString += '<dt class="govuk-summary-list__key">' + item.phrase + '</dt>'
                        outputHTMLString += '<dd class="govuk-summary-list__value">pronounced ‘' + item.pronunciation + '’</dd>'
                        outputHTMLString += '<dd class="govuk-summary-list__actions"><a class="govuk-link" href="#" data-phrase="' + item.phrase + '">Remove<span class="govuk-visually-hidden"> pronunciation</span></a></dd>'
                    outputHTMLString += '</div>'
                }

                outputHTMLString += '</dl>'

            } else {

                outputHTMLString += '<p>No pronunciations found for this message.</p>'

            }

            $('#pronunciation-list-container').html($(outputHTMLString))

        }

        function updatePreview() {
            $('.audio-container').hide()
            $('#refresh-preview-button').show()
            $('#refresh-preview-button').prop('disabled', true)
            $('#refresh-preview-button').text('Loading...')
            currentPreviewTextTrimmed = $('textarea#spoken-message').val().trim()
            $.post( '/text-to-speech/get-pronunciations', { text : currentPreviewTextTrimmed }, function( item ) {
                previewText = item.text
                activePronunciations = item.usedPronunciations
                refreshPronunciationList()
                $.post( '/text-to-speech/generate', { text : previewText }, function( url ) {
                    $( "#preview-player" ).attr( 'src', url );
                    adaptRefreshButton()
                })
            })
        }

        function saveInput() {
            $.post( '/text-to-speech/save-input', { 
                text : $('textarea#spoken-message').val().trim(), 
                name: 'spoken-message'
            })
        }

        $('#pronunciation-list-container').on('click', 'a', function(e) {
            e.preventDefault()
            const phraseToRemove = $(this).attr('data-phrase').trim()
            $.post( '/text-to-speech/remove-pronunciation', { text : phraseToRemove }, function( done ) {
                setTimeout(updatePreview(), 500)
            })
        })

        $('#add-pronunciation-button').on('click', function(e) {
            e.preventDefault()
            const inputPhrase = $('#adjustment-phrase').val().trim()
            const inputPronunciation = $('#adjustment-pronunciation').val().trim()
            if (inputPhrase.length > 1 && inputPronunciation.length > 1) {
                $.post( '/text-to-speech/add-pronunciation', { phrase : inputPhrase, pronunciation: inputPronunciation }, function( done ) {
                    setTimeout(updatePreview(), 500)
                    $('#adjustment-phrase').val('')
                    $('#adjustment-pronunciation').val('')
                    $('input[name="adjustment-save"]').prop('checked', false)
                }) 
            }
        })

        $('textarea#spoken-message').on('input', function() {
            updatePronunciations()
            adaptRefreshButton()
            saveInput()
        })

        $('#refresh-preview-button').on('click', function(e) {
            e.preventDefault()
            updatePreview()
        })

        adaptRefreshButton()
        updatePronunciations()
        updatePreview()
        
    
    </script>
    
{% endblock %}